@page
@model Rejupo.Pages_Employees.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edycja</h2>

<h4>Pracownik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee.ControlNumber" class="control-label"></label>
                <input asp-for="Employee.ControlNumber" class="form-control" disabled/>
                <input type="hidden" asp-for="Employee.ControlNumber" />
            </div>
            <div class="form-group">
                <label asp-for="Employee.Division" class="control-label"></label>
                <input asp-for="Employee.Division" class="form-control" disabled/>
                <input type="hidden" asp-for="Employee.Division"/>
            </div>
            <div class="form-group">
                <label asp-for="Employee.FirstName" class="control-label"></label>
                <input asp-for="Employee.FirstName" class="form-control" />
                <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.LastName" class="control-label"></label>
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Pos_title" class="control-label"></label>
                <input asp-for="Employee.Pos_title" class="form-control" />
                <span asp-validation-for="Employee.Pos_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Email" class="control-label"></label>
                <input asp-for="Employee.Email" class="form-control" />
                <span asp-validation-for="Employee.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.PhoneNumber" class="control-label"></label>
                <input asp-for="Employee.PhoneNumber" class="form-control" />
                <span asp-validation-for="Employee.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">


            <dl class="dl-horizontal"> </dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Employee.IsActive)
                </dt>
                <dd>
                    @Html.CheckBoxFor(model => model.Employee.IsActive)
                </dd>
            </dl>

            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
